<%= stylesheet_link_tag 'page-auth', media: 'all' %>
<div class="form-container">
  <div class="form-header">
    <%= image_tag "logo.png", class: "logo" %>
    <h2>Sign up</h2>
  </div>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Enter your email", :required => true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, autocomplete: "new-password", class: "password-field", :required => true, placeholder: "................" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :required => true, placeholder: "................" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  <div class="form-footer">
  <%= render "devise/shared/links" %>
  </div>

</div>


