<%= form_with(url: student_students_courses_path, model: students_course) do |form| %>
  <% if students_course.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(students_course.errors.count, "error") %> prohibited this students_course from being saved:</h2>

      <ul>
        <% students_course.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="field">
  <%= form.label :course_id, style: "display: block" %>
  <%= form.collection_select :course_id, @available_courses, :id, :course_name, { prompt: 'Select a Course' } %>
</div>



  <div>
    <%= form.submit %>
  </div>
<% end %>
