<p style="color: green"><%= notice %></p>

<div class="main-container">
  <div class="row">
    <div class="col-md-3">
    <%= render partial: 'shared/sidebar', locals: { student_id: params[:student_id] } %>
    </div>
    <div class="col-md-9">

<h1>Students courses</h1>
 <p>
    <strong>Loggen In as:</strong>
    <%= @logged_in_student.name %>
  </p>

<div id="students_courses">
  <% @students_courses.each do |students_course| %>
    <%= render students_course %>
    <%# <p>
      <%= link_to "Show this students course", student_students_course %>
    <%# </p> %>
  <% end %>
</div>

<%= link_to "New students course", new_student_students_course_path %>
</div>
</div>
</div>
</div>

