<div id="<%= dom_id admin %>">
  <p>
    <strong>Work email:</strong>
    <%= admin.work_email %>
  </p>

  <p>
    <strong>Designation:</strong>
    <%= admin.designation %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= admin.email %>
  </p>

  <p>
    <strong>Names:</strong>
    <%= admin.names %>
  </p>

  <p>
    <strong>Super admin:</strong>
    <%= admin.super_admin %>
  </p>

</div>
