<%= form_with(url: lecturer_lecturer_units_path, model: lecturer_unit) do |form| %>
  <% if lecturer_unit.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(lecturer_unit.errors.count, "error") %> prohibited this lecturer_unit from being saved:</h2>

      <ul>
        <% lecturer_unit.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :lecturer_id %>
    <%= form.collection_select :course_id, Course.all, :id, :course_name, { prompt: 'Select a Course' } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
