<div id="<%= dom_id lecturer_unit %>">
  <p>
    <strong>Lecturer:</strong>
    <%= lecturer_unit.lecturer_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= lecturer_unit.course_id %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= lecturer_unit.created_at %>
  </p>

  <p>
    <strong>Updated at:</strong>
    <%= lecturer_unit.updated_at %>
  </p>

</div>
