<div id="<%= dom_id student %>">
<%= image_tag @student.avatar if @student.avatar.attached? %>

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Registraion number:</strong>
    <%= student.registraion_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= student.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= student.phone %>
  </p>

</div>
