<%= stylesheet_link_tag 'student-account', media: 'all' %>
<div class="show-container" id="<%= dom_id student %>">
  <div>
    <p>
      <strong>Name:</strong><br>
      <div  class="input-field"><%= student.name %></div>
    </p>
    <p>
      <strong>Registraion number:</strong><br>
      <div class="input-field"><%= student.registraion_number %></div>
    </p>
  </div>
  <div>
    <p>
      <strong>Email:</strong><br>
      <div class="input-field"><%= student.email %></div>
    </p>
    <p>
      <strong>Phone:</strong><br>
      <div class="input-field"><%= student.phone %></div>
    </p>
  </div>
</div>
