<div class="main-container">
  <div class="row">
    <div class="col-md-auto">
      <!-- Sidebar -->
      <%= render partial: 'shared/studentsidebar', locals: { student_id: params[:student_id] } %>
    </div>
    <div class="col-md-auto body-container">
      <!-- Dashboard Header -->
      <h1 class="mb-4">Dashboard</h1>
      <!-- Course Overview -->
      <div class=" mb-4">
        <div class="overview-body">
          <div class="card">
            <div class="ic-content">
              <i class="fas fa-user-graduate i-1"></i>
              <div class="dash-more">
                <p class="dash-item"><%= @students_courses.size %></p>
                <p class="card-description">Total Courses</p>
              </div>
            </div>
            <div class="card-footer">
              <i class="far fa-clock"></i>
              <span>update now</span>
            </div>
          </div>
          <div class="card">
            <div class="ic-content">
              <i class="fas fa-book-reader i-2"></i>
              <div class="dash-more">
                <p class="dash-item"><%= @students_courses.map(&:lecturer_unit).uniq.size %></p>
                <p class="card-description">Registered Units</p>
              </div>
            </div>
            <div class="card-footer">
              <i class="far fa-calendar"></i>
              <span>Updated now</span>
            </div>
          </div>
          <div class="card">
            <div class="ic-content">
              <i class="fas fa-chalkboard-teacher i-3"></i>
              <div class="dash-more">
                <% if @students_courses.any? %>
                  <% students_course = @students_courses.first %>
                  <p class="dash-item">
                    <%= calculate_attendance_percentage_in_three_months(students_course) %>
                    <span>%</span>
                  </p>
                <% end %>
                <p>Attendance</p>
              </div>
            </div>
            <div class="card-footer">
              <i class="fas fa-sync-alt"></i>
              <span>Refresh now</span>
            </div>
          </div>
        </div>
      </div>
      <!-- Your Courses -->
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">Your Courses</h2>
          <ul class="list-unstyled">
            <% @students_courses.each do |students_course| %>
              <li><%= students_course.lecturer_unit.course.course_name %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <!-- Attendance Summary -->
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title">Attendance Summary</h2>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Course</th>
                  <th>Attendance Date</th>
                  <th>Present</th>
                </tr>
              </thead>
              <tbody>
                <% @attendances.each do |attendance| %>
                  <tr>
                    <td><%= attendance.students_course.lecturer_unit.course.course_name %></td>
                    <td><%= attendance.attendance_date %></td>
                    <td> <span class="table-span"><%= attendance.present ? 'Yes' : 'No' %></span> </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
