<div class="main-container">
  <div class="row">
    <div class="col-md-3">
      <%= render partial: 'shared/studentsidebar', locals: { student_id: @student.id } %>
    </div>
    <div class="col-md-9">
      <%= render @student %>
      <div>
        <%= link_to "Edit this student", edit_student_path(@student) %> |
        <%= link_to "Back to students", students_path %>
        <%= button_to "Destroy this student", @student, method: :delete %>
      </div>
      <% if student_signed_in? %>
        <%= button_to "Logout", destroy_student_session_path, method: :delete, data: { turbo_method: :delete } %>
      <% end %>
    </div>
  </div>
</div>
