 
<%= stylesheet_link_tag "nav_bar", media: "all" %>
<%= stylesheet_link_tag "lec-dashboard", media: "all" %>
<div class="mobile-nav">
<i class="fas fa-bars menu-control-btn open-menu"></i>
  <%= image_tag "close", class: "menu-control-btn close-menu" %>
</div>

 <nav class="sidebar">
    <div class="sidebar-top-wrapper">
      <div class="sidebar-top">
        <a href="#" class="logo__wrapper">
        <%= image_tag "logo.png", alt: "Logo", class: "logo-small" %>
          <span class="hide company-name">
            Online Attendance
          </span>
        </a>
      </div>
      <button class="expand-btn" type="button">
        <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M6.00979 2.72L10.3565 7.06667C10.8698 7.58 10.8698 8.42 10.3565 8.93333L6.00979 13.28"
            stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="sidebar-links-wrapper">
      <div class="sidebar-links">
        <ul>
          <li>
          <a href="<%= lecturer_dashboard_path(lecturer_id: current_lecturer.id) %>" title="Dashboard">
            <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M1.82764 11.8634C1.82764 8.49248 1.82764 6.80699 2.57126 5.61223C2.84639 5.17021 3.18813 4.78574 3.58105 4.47623C4.64306 3.63965 6.14126 3.63965 9.13767 3.63965H12.7927C15.7891 3.63965 17.2873 3.63965 18.3493 4.47623C18.7422 4.78574 19.084 5.17021 19.3591 5.61223C20.1027 6.80699 20.1027 8.49248 20.1027 11.8634C20.1027 15.2344 20.1027 16.9199 19.3591 18.1146C19.084 18.5567 18.7422 18.9411 18.3493 19.2506C17.2873 20.0872 15.7891 20.0872 12.7927 20.0872H9.13767C6.14126 20.0872 4.64306 20.0872 3.58105 19.2506C3.18813 18.9411 2.84639 18.5567 2.57126 18.1146C1.82764 16.9199 1.82764 15.2344 1.82764 11.8634Z"
                  stroke="#141B34" stroke-width="1.4" />
                <path d="M8.68066 3.63965L8.68066 20.0872" stroke="#141B34" stroke-width="1.4"
                  stroke-linejoin="round" />
                <path d="M4.56885 7.29492H5.4826M4.56885 10.0362H5.4826" stroke="#141B34" stroke-width="1.4"
                  stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <span class="link hide">Dashboard</span>
            </a>
          </li>
        </ul>
        <div class="divider"></div>
        <ul>
          <li>
          <a href="<%= lecturer_attendances_path(lecturer_id: current_lecturer.id) %>" title="Attendance">

              <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_15_5297)">
                  <path
                    d="M18.9821 17.2756C19.6667 17.2756 20.2113 16.8447 20.7003 16.2423C21.7013 15.009 20.0578 14.0234 19.431 13.5407C18.7938 13.05 18.0824 12.7721 17.361 12.7068M16.4473 10.8793C17.7089 10.8793 18.7317 9.85656 18.7317 8.59493C18.7317 7.3333 17.7089 6.31055 16.4473 6.31055"
                    stroke="#141B34" stroke-width="1.4" stroke-linecap="round" />
                  <path
                    d="M2.94755 17.2756C2.26287 17.2756 1.71829 16.8447 1.22932 16.2423C0.22834 15.009 1.8718 14.0234 2.49861 13.5407C3.1358 13.05 3.84726 12.7721 4.56859 12.7068M5.02547 10.8793C3.76384 10.8793 2.74108 9.85656 2.74108 8.59493C2.74108 7.3333 3.76384 6.31055 5.02547 6.31055"
                    stroke="#141B34" stroke-width="1.4" stroke-linecap="round" />
                  <path
                    d="M7.38635 14.6364C6.4527 15.2138 4.00471 16.3926 5.4957 17.8677C6.22403 18.5883 7.03521 19.1036 8.05506 19.1036H13.8745C14.8944 19.1036 15.7056 18.5883 16.4339 17.8677C17.9249 16.3926 15.4769 15.2138 14.5432 14.6364C12.3538 13.2826 9.57576 13.2826 7.38635 14.6364Z"
                    stroke="#141B34" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                  <path
                    d="M14.1629 7.68154C14.1629 9.44782 12.731 10.8797 10.9647 10.8797C9.19846 10.8797 7.7666 9.44782 7.7666 7.68154C7.7666 5.91525 9.19846 4.4834 10.9647 4.4834C12.731 4.4834 14.1629 5.91525 14.1629 7.68154Z"
                    stroke="#141B34" stroke-width="1.4" />
                </g>
                <defs>
                  <clipPath id="clip0_15_5297">
                    <rect width="21.9301" height="21.9301" fill="white" transform="translate(0 0.828125)" />
                  </clipPath>
                </defs>
              </svg>
              <span class="link hide">Attendance</span>
            </a>
          </li>
          <li>
          <a href="<%= lecturer_lecturer_units_path(lecturer_id: current_lecturer.id) %>" title="Courses">
              <svg width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.8789 14.5088C9.78491 19.9913 3.92166 14.5088 1.82764 19.9913" stroke="#141B34"
                  stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                <path
                  d="M14.1636 14.509H15.5354C17.6891 14.509 18.766 14.509 19.4351 13.8399C20.1041 13.1708 20.1041 12.094 20.1041 9.94022V8.11272C20.1041 5.95898 20.1041 4.88211 19.4351 4.21303C18.766 3.54395 17.6891 3.54395 15.5354 3.54395L11.8804 3.54395C9.72661 3.54395 8.64974 3.54395 7.98066 4.21303C7.41376 4.77993 7.32719 5.63958 7.31396 7.19896"
                  stroke="#141B34" stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
                <ellipse cx="6.85323" cy="12.2248" rx="2.28439" ry="2.28439" stroke="#141B34" stroke-width="1.4"
                  stroke-linecap="round" stroke-linejoin="round" />
                <path d="M10.9653 7.19922L16.4479 7.19922M16.4479 10.8542L13.7066 10.8542" stroke="#141B34"
                  stroke-width="1.4" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <span class="link hide">My Classes</span>
            </a>
          </li>
          <li>
            <a href="#rate-lecturer" title="Rating">
              <svg class="ico" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M144 208c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zm112 0c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zm112 0c-17.7 0-32 14.3-32 32s14.3 32 32 32 32-14.3 32-32-14.3-32-32-32zM256 32C114.6 32 0 125.1 0 240c0 47.6 19.9 91.2 52.9 126.3C38 405.7 7 439.1 6.5 439.5c-6.6 7-8.4 17.2-4.6 26S14.4 480 24 480c61.5 0 110-25.7 139.1-46.3C192 442.8 223.2 448 256 448c141.4 0 256-93.1 256-208S397.4 32 256 32zm0 368c-26.7 0-53.1-4.1-78.4-12.1l-22.7-7.2-19.5 13.8c-14.3 10.1-33.9 21.4-57.5 29 7.3-12.1 14.4-25.7 19.9-40.2l10.6-28.1-20.6-21.8C69.7 314.1 48 282.2 48 240c0-88.2 93.3-160 208-160s208 71.8 208 160-93.3 160-208 160z"/>
                </svg>
              <span class="link hide">Chat Admin</span>
              <div class="tag hide">New</div>
            </a>
          </li>
          <li>
            <a href="#rate-lecturer" title="Rating">
              <svg class="ico" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512">
                <path d="M576 240c0-23.6-13-44-32-55.1V32C544 23.3 537 0 512 0c-7.1 0-14.2 2.4-20 7l-85 68C364.3 109.2 310.7 128 256 128H64c-35.4 0-64 28.7-64 64v96c0 35.4 28.7 64 64 64h33.7c-1.4 10.5-2.2 21.1-2.2 32 0 39.8 9.3 77.4 25.6 110.9 5.2 10.7 16.5 17.1 28.4 17.1h74.3c26.1 0 41.7-29.8 25.9-50.6-16.4-21.5-26.2-48.4-26.2-77.4 0-11.1 1.6-21.8 4.4-32H256c54.7 0 108.3 18.8 151 53l85 68a32 32 0 0 0 20 7c24.9 0 32-22.8 32-32V295.1C563.1 284 576 263.6 576 240zm-96 141.4l-33.1-26.4C393 311.8 325.1 288 256 288v-96c69.1 0 137-23.8 191-67L480 98.6v282.8z"/>
              </svg>
              <span class="link hide">Announcement</span>
              <div class="tag hide">New</div>
            </a>
          </li>
        </ul>
        <h2>Management</h2>
        <div class="divider"></div>
        <ul>

          <li>
          <a href="<%= lecturer_path(current_lecturer) %>" title="Settings">
            <svg class="ico" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512">
              <path class="svg-path" d="M512.1 191l-8.2 14.3c-3 5.3-9.4 7.5-15.1 5.4-11.8-4.4-22.6-10.7-32.1-18.6-4.6-3.8-5.8-10.5-2.8-15.7l8.2-14.3c-6.9-8-12.3-17.3-15.9-27.4h-16.5c-6 0-11.2-4.3-12.2-10.3-2-12-2.1-24.6 0-37.1 1-6 6.2-10.4 12.2-10.4h16.5c3.6-10.1 9-19.4 15.9-27.4l-8.2-14.3c-3-5.2-1.9-11.9 2.8-15.7 9.5-7.9 20.4-14.2 32.1-18.6 5.7-2.1 12.1 .1 15.1 5.4l8.2 14.3c10.5-1.9 21.2-1.9 31.7 0L552 6.3c3-5.3 9.4-7.5 15.1-5.4 11.8 4.4 22.6 10.7 32.1 18.6 4.6 3.8 5.8 10.5 2.8 15.7l-8.2 14.3c6.9 8 12.3 17.3 15.9 27.4h16.5c6 0 11.2 4.3 12.2 10.3 2 12 2.1 24.6 0 37.1-1 6-6.2 10.4-12.2 10.4h-16.5c-3.6 10.1-9 19.4-15.9 27.4l8.2 14.3c3 5.2 1.9 11.9-2.8 15.7-9.5 7.9-20.4 14.2-32.1 18.6-5.7 2.1-12.1-.1-15.1-5.4l-8.2-14.3c-10.4 1.9-21.2 1.9-31.7 0zm-10.5-58.8c38.5 29.6 82.4-14.3 52.8-52.8-38.5-29.7-82.4 14.3-52.8 52.8zM386.3 286.1l33.7 16.8c10.1 5.8 14.5 18.1 10.5 29.1-8.9 24.2-26.4 46.4-42.6 65.8-7.4 8.9-20.2 11.1-30.3 5.3l-29.1-16.8c-16 13.7-34.6 24.6-54.9 31.7v33.6c0 11.6-8.3 21.6-19.7 23.6-24.6 4.2-50.4 4.4-75.9 0-11.5-2-20-11.9-20-23.6V418c-20.3-7.2-38.9-18-54.9-31.7L74 403c-10 5.8-22.9 3.6-30.3-5.3-16.2-19.4-33.3-41.6-42.2-65.7-4-10.9 .4-23.2 10.5-29.1l33.3-16.8c-3.9-20.9-3.9-42.4 0-63.4L12 205.8c-10.1-5.8-14.6-18.1-10.5-29 8.9-24.2 26-46.4 42.2-65.8 7.4-8.9 20.2-11.1 30.3-5.3l29.1 16.8c16-13.7 34.6-24.6 54.9-31.7V57.1c0-11.5 8.2-21.5 19.6-23.5 24.6-4.2 50.5-4.4 76-.1 11.5 2 20 11.9 20 23.6v33.6c20.3 7.2 38.9 18 54.9 31.7l29.1-16.8c10-5.8 22.9-3.6 30.3 5.3 16.2 19.4 33.2 41.6 42.1 65.8 4 10.9 .1 23.2-10 29.1l-33.7 16.8c3.9 21 3.9 42.5 0 63.5zm-117.6 21.1c59.2-77-28.7-164.9-105.7-105.7-59.2 77 28.7 164.9 105.7 105.7zm243.4 182.7l-8.2 14.3c-3 5.3-9.4 7.5-15.1 5.4-11.8-4.4-22.6-10.7-32.1-18.6-4.6-3.8-5.8-10.5-2.8-15.7l8.2-14.3c-6.9-8-12.3-17.3-15.9-27.4h-16.5c-6 0-11.2-4.3-12.2-10.3-2-12-2.1-24.6 0-37.1 1-6 6.2-10.4 12.2-10.4h16.5c3.6-10.1 9-19.4 15.9-27.4l-8.2-14.3c-3-5.2-1.9-11.9 2.8-15.7 9.5-7.9 20.4-14.2 32.1-18.6 5.7-2.1 12.1 .1 15.1 5.4l8.2 14.3c10.5-1.9 21.2-1.9 31.7 0l8.2-14.3c3-5.3 9.4-7.5 15.1-5.4 11.8 4.4 22.6 10.7 32.1 18.6 4.6 3.8 5.8 10.5 2.8 15.7l-8.2 14.3c6.9 8 12.3 17.3 15.9 27.4h16.5c6 0 11.2 4.3 12.2 10.3 2 12 2.1 24.6 0 37.1-1 6-6.2 10.4-12.2 10.4h-16.5c-3.6 10.1-9 19.4-15.9 27.4l8.2 14.3c3 5.2 1.9 11.9-2.8 15.7-9.5 7.9-20.4 14.2-32.1 18.6-5.7 2.1-12.1-.1-15.1-5.4l-8.2-14.3c-10.4 1.9-21.2 1.9-31.7 0zM501.6 431c38.5 29.6 82.4-14.3 52.8-52.8-38.5-29.6-82.4 14.3-52.8 52.8z"/>
            </svg>

              <span class="link hide">Settings</span>
            </a>
          </li>
        </ul>

    </div>
    <div class="sidebar__profile">
  <div class="avatar__wrapper position-relative">
    <% if current_lecturer.avatar.attached? %>
      <%= image_tag current_lecturer.avatar, class: "avatar" %>
    <% else %>
      <%= image_tag "user.png", class: "avatar", alt: "Joe Doe Picture" %>
    <% end %>
    <!-- Notification badge -->
    <span class="badge badge-success position-absolute top-0 start-100 translate-middle">4</span>
    <div class="online__status"></div>
  </div>
  <div class="avatar__name hide">
    <div class="user-name">
      <%= current_lecturer.name %>
    </div>
    <div class="email">
      <%= current_lecturer.email %>
    </div>
  </div>
</div>

      <!-- Button with Icon -->
<button id="popover-btn" type="button" class="btn btn-link">
  <i class="fas hide fa-ellipsis-h"></i>
</button>



    </div>
  </nav>
  <%= javascript_include_tag "sidebar" %>
