<h1>Home page</h1>
<%= link_to 'Sign up as a Lecturer', new_lecturer_registration_path %>
<%= link_to 'Sign up as a Student', new_student_registration_path %>

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><%= image_tag "loading.gif", alt: "#" %></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col logo_section">
                    <div class="full">
                        <div class="center-desk">
                            <div class="logo"> <a href="index.html"><%= image_tag "logo.jpg", alt: "logo" %></a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7 col-md-9 col-sm-9">
                    <div class="menu-area">
                        <div class="limit-box">
                            <nav class="main-menu">
                                <ul class="menu-area-main">
                                    <li class="active"> <a href="index.html">Home</a> </li>
                                    <li> <a href="about.html">About</a> </li>
                                    <li> <a href="product.html">product</a> </li>
                                    <li> <a href="blog.html"> Blog</a> </li>
                                    <li> <a href="contact.html">Contact</a> </li>
                                    <li class="mean-last"> <a href="#contact">signup</a> </li>

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2">
                    <li><a class="buy" href="#">Login</a></li>
                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    <!-- end header -->
    <section class="slider_section">
        <div id="main_slider" class="carousel slide banner-main" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <%= image_tag "banner2.jpg", class: "first-slide", alt: "First slide" %>
                    <div class="container">
                        <div class="carousel-caption relative">
                            <h1>Our <br> <strong class="black_bold">Latest </strong><br>
                                <strong class="yellow_bold">Product </strong></h1>
                            <p>It is a long established fact that a r <br>
                                eader will be distracted by the readable content of a page </p>
                            <a href="#">see more Products</a>
                        </div>
                    </div>
                </div>
                <!-- other carousel items -->
            </div>
            <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class='fa fa-angle-right'></i>
            </a>
            <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class='fa fa-angle-left'></i>
            </a>

        </div>
    </section>
</body>
