<div id="<%= dom_id lecturer %>">
  <p>
    <strong>Name:</strong>
    <%= lecturer.name %>
  </p>

  <p>
    <strong>Service number:</strong>
    <%= lecturer.service_number %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= lecturer.phone %>
  </p>

  <p>
    <strong>Work email:</strong>
    <%= lecturer.work_email %>
  </p>

</div>
