<div id="<%= dom_id lecturer %>">
<%= image_tag @lecturer.avatar if @lecturer.avatar.attached? %> <br>
<div class="card-body">
<div class="d-flex flex-column flex-md-row flex-lg-row gap-md-5">
  <div class="flex-fill">
    <p>Name:</p>
    <div class="border p-2">
        <%= lecturer.name %>
    </div>
  </div>

  <div class="flex-fill">
    <p>Service number:</p>
    <div class="border p-2">
        <%= lecturer.service_number %>
    </div>
    </div>
</div>
<p class="card-text">Additional details about the lecturer can go here.</p>
  <p>
    <strong>Phone:</strong>
    <%= lecturer.phone %>
  </p>

  <p>
    <strong>Work email:</strong>
    <%= lecturer.work_email %>
  </p>

</div>
</div>
