<div id="<%= dom_id lecturer %>">
  <h2>QR Code</h2>
 <%= image_tag @lecturer.qr_code if @lecturer.qr_code.attached? %>
<%= image_tag @lecturer.avatar if @lecturer.avatar.attached? %> <br>
  <p>
    <strong>Name:</strong>
    <%= lecturer.name %>
  </p>

  <p>
    <strong>Service number:</strong>
    <%= lecturer.service_number %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= lecturer.phone %>
  </p>

  <p>
    <strong>Work email:</strong>
    <%= lecturer.work_email %>
  </p>

</div>
