<div id="<%= dom_id lecturer %>">
<%= image_tag @lecturer.avatar if @lecturer.avatar.attached? %> <br>
<div class="card-body">
  <p>
    <strong>Name:</strong>
    <%= lecturer.name %>
  </p>

  <p>
    <strong>Service number:</strong>
    <%= lecturer.service_number %>
  </p>
<p class="card-text">Additional details about the lecturer can go here.</p>
  <p>
    <strong>Phone:</strong>
    <%= lecturer.phone %>
  </p>

  <p>
    <strong>Work email:</strong>
    <%= lecturer.work_email %>
  </p>

</div>
</div>
