<p style="color: green"><%= notice %></p>
<%= stylesheet_link_tag "dashboard", media: "all" %>
<div class="main-container">
  <div class="row">
    <div class="col-md-auto nav-container">
     <!-- Sidebar -->
      <%= render partial: "shared/lecturersidebar", locals: { lecturer_id: params[:lecturer_id] } %>
    </div>
    <div class="col-lg-auto body-container">
<table>
  <thead>
    <tr>
    <th>Course Code</th>
      <th>Course</th>
      <th>Student Name</th>
      <th>Attendance Date</th>
      <th>Present</th>
    </tr>
  </thead>
  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
      <td><%= attendance.students_course.lecturer_unit.course.course_code %></td>
        <td><%= attendance.students_course.lecturer_unit.course.course_name %></td>
        <td><%= attendance.students_course.student.name %></td>
        <td><%= attendance.attendance_date %></td>
        <td><%= attendance.present ? "Yes" : "No" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
 </div>
  </div>
</div>