<%= stylesheet_link_tag "dashboard", media: "all" %>
<div class="main-container">
  <div class="row">
    <div class="col-md-auto nav-container">
      <!-- Sidebar -->
      <%= render partial: "shared/lecturersidebar", locals: { lecturer_id: @lecturer.id } %>
    </div>
    <div class="col-lg-auto body-container">
      <div class="card shadow-sm">
        <div class=" card-header d-flex justify-content-between align-items-center mb-4">
        <h5 class="">Personal Details</h5>
        <%= link_to edit_lecturer_path(@lecturer), class: "btn btn-outline-primary" do %>
          <i class="fas fa-edit"></i> Edit details
        <% end %>
      </div>
        <div class="card-body">
                <%= render @lecturer %>
          <% if lecturer_signed_in? %>
            <%= button_to destroy_lecturer_session_path, method: :delete, class: "btn btn-danger", data: { turbo_method: :delete } do %>
              <i class="fas fa-sign-out-alt"></i> Logout
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
