<div id="<%= dom_id attendance %>">
  <p>
    <strong>Student:</strong>
    <%= attendance.student_id %>
  </p>

  <p>
    <strong>Lecturer unit:</strong>
    <%= attendance.lecturer_unit_id %>
  </p>

  <p>
    <strong>Attendance date:</strong>
    <%= attendance.attendance_date %>
  </p>

  <p>
    <strong>Present:</strong>
    <%= attendance.present %>
  </p>

</div>
