<%= stylesheet_link_tag 'attendace', media: 'all' %>
<div class="main-container">
  <div class="row">
    <div class="col-md-auto">
      <%= render partial: 'shared/studentsidebar', locals: { student_id: params[:student_id] } %>
    </div>
    <div class="col-md body-container body-fix">
    <div class="d-flex justify-content-between align-items-center mb-3">
  <h6 class="bg-light p-2 rounded">My Attendance List</h6>
  <div>
    <%= link_to "New Attendance", scan_student_attendances_path, class: "btn btn-primary" %>
  </div>
</div>

      <div id="attendances" class="table-responsive bg-white p-5 rounded">
        <table id="attendanceTable" class="table  table-bordered bg-light">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Unit</th>
              <th scope="col">Present</th>
            </tr>
          </thead>
          <tbody>
            <% @attendances.each do |attendance| %>
              <tr>
                <td><%= attendance.attendance_date %></td>
                <td><%= attendance.students_course.lecturer_unit.course.course_name %></td>
                <td><%= attendance.present ? 'Yes' : 'No' %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#attendanceTable').DataTable({
      "paging": true,
      "searching": true,
      "ordering": true,
      "info": true
    });
  });
</script>