<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Select ID</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <% if @students_attendance_courses.any? %>
          <form action="<%= submit_attendance_student_attendances_path %>" method="post">
            <%= csrf_meta_tags %>
            <% @students_attendance_courses.each do |course| %>
              <div class="form-check">
                <input class="form-check-input" type="radio" name="selected_id" value="<%= course['id'] %>">
                <label class="form-check-label" for="<%= course['id'] %>">
                  <%= course['id'] %>
                </label>
              </div>
            <% end %>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Submit</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </form>
        <% else %>
          <!-- Render content for cases where @students_attendance_courses is empty -->
          <%= "No details to show" %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
    myModal.show();
  });
</script>
